@font-face {
  font-family: 'Rubic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  local('Rubic'),
        url('../fonts/rubik/rubik-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  local('Rubic'),
        url('../fonts/rubik/rubik-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:  local('Raleway'),
        url('../fonts/raleway/raleway-800.woff2') format('woff2');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input, textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover {
  text-decoration: none;
}

:focus {
   outline: 2px solid #AF4FFF;
   outline-offset: 2px;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  font-family: 'Rubic', Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

/* Logo */

.logo-link {
   position: relative;
   display: inline-block;
   margin-left: 60px;
   z-index: 1;
}

.logo-link:hover {
   opacity: 0.6;
}

.logo-link:active {
   opacity: 0.3;
}
/* 
.logo-link:focus {
   outline: 2px solid #AF4FFF;
   outline-offset: 2px;
} */

/* Header */

.page-header {
   padding-top: 15px;
}

.header-menu {
   padding: 46px 60px 20px;
   background-color: #FFE17F;
   transform: translateY(-20px);
}

.header-user-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
}

/* Search Form */

.search-form {
   display: flex;
}

.search-form-input {
   padding: 10px 10px 10px 48px;
   background-color: transparent;
   font-size: 16px;
   line-height: 20px;
   color: #000000;
   background-image: url(../images/search-icon.svg);
   background-repeat: no-repeat;
   background-position: left 16px center;
   border: 2px solid #000000;
   border-radius: 50px 0 0 50px;
}

.search-form-input::placeholder {
   font-size: 16px;
   line-height: 20px;
   color: #000000;
   opacity: 0.3;
}

.search-form-button {
   padding: 10px 56px;
   font-size: 16px;
   line-height: 20px;
   color: #000000;
   background-color: transparent;
   border: 2px solid #000000;
   border-radius: 0 50px 50px 0;
   border-left: 0;
}

.search-form-button:hover {
   color: #FFFFFF;
   background-color: #000000;
}

.search-form-button:active {
   color: rgba(255, 255, 255, 0.3);
   background-color: #000000;
}

.search-form-button:disabled {
   color: #C4C4C4;
   border-color: #C4C4C4;
}

/* User Menu */

.user-menu-list {
   display: flex;
}

.user-menu-item {
   margin-right: 36px;
   padding: 5px;
   color: #000000;
}

.user-menu-item:last-child {
   margin-right: 0;
}

.user-menu-item-login {
   width: 230px;
   display: flex;
   flex-wrap: wrap;
}

.user-menu-link {
   padding-left: 27px;
}

.user-menu-link-login {
   background-image: url(../images/user-icon.svg);
   background-position: left center;
   background-repeat: no-repeat;
}

.user-menu-link-compare {
   background-image: url(../images/compare-icon.svg);
   background-position: left center;
   background-repeat: no-repeat;
}

.user-menu-link-cart {
   position: relative;
   background-image: url(../images/cart-icon.svg);
   background-position: left center;
   background-repeat: no-repeat;
}

.cart-count {
   position: absolute;
   left: -16px;
   top: 10px;
   min-width: 21px;
   min-height: 21px;
   font-size: 14px;
   line-height: 22px;
   text-align: center;
   color: #000000;
   background-color: #FFFFFF;
   border-radius: 50%;
}

.user-menu-link:hover,
.user-menu-link-cart:hover {
   opacity: 0.6;
}

.user-menu-link:active,
.user-menu-link-cart:active {
   opacity: 0.3;
}

/* Catalog */

.catalog {
  position: relative;
  display: flex;
  align-items: center;
}

.catalog-wrapper {
   position: relative;
}

.catalog-link {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-main-link {
  position: relative;
  padding-right: 20px;
  z-index: 1;
}
/* ПОДУМАТЬ!!!!!!!!!! 
И все переделать!!!!!!!*/
.dropdown-catalog-menu {
  position: absolute;
  left: -60px;
  top: 20px;
  display: none;
  width: 1160px;
  min-height: 180px;
  padding: 33px 60px 27px;
  background-color: #FFE17F;
}

.control-mark {
  position: absolute;
  top: -10px;
  left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #C4C4C4;
  border-radius: 50%;
  z-index: 1;
}

.control-mark::before {
  content: '';
  display: none;
  width: 16px;
  height: 2px;
  background-image: url(../images/minus-icon.svg);
}

.control-mark::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../images/plus-icon.svg);
}

.checkbox:hover + .control-mark {
   border-color: #000000;
}

.checkbox:hover + .control-mark::after {
   background-image: url(../images/plus-black-icon.svg);
}

.checkbox:checked ~ .dropdown-catalog-menu {
  display: flex;
}

.checkbox:checked + .control-mark::before {
  display: block;
}

.checkbox:checked + .control-mark::after {
  display: none;
}
/* 
.catalog-wrapper:focus-within .dropdown-catalog-menu {
   display: flex;
} */

.gadgets-list:not(:last-child) {
  margin-right: 30px;
}

.gadgets-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.services {
  position: relative;
  display: flex;
  margin-left: auto;
  z-index: 1;
}

.services-item:not(:last-child) {
  margin-right: 45px;
}














/* Footer */

.page-footer {
   padding: 62px 0;
   background-color: #444444;
}