@font-face {
  font-family: 'Rubic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  local('Rubic'),
        url('../fonts/rubik/rubik-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  local('Rubic'),
        url('../fonts/rubik/rubik-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:  local('Raleway'),
        url('../fonts/raleway/raleway-800.woff2') format('woff2');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input, textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 140px;
  font-family: 'Rubic', Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.catalog-select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.catalog-link {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-main-link {
  position: relative;
  padding-right: 20px;
}

.dropdown-catalog-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  display: none;
  max-width: 1160px;
  margin: 0 auto;
  padding: 33px 60px 27px;
  background-color: #FFE17F;
  z-index: -1;
}

.checkbox:checked ~ .dropdown-catalog-menu {
  display: flex;
}

.checkbox:checked + .control-mark::before {
  display: block;
}

.checkbox:checked + .control-mark::after {
  display: none;
}

.control-mark {
  position: absolute;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.control-mark::before {
  content: '';
  display: none;
  width: 16px;
  height: 2px;
  background-image: url(../images/minus-icon.svg);
}

.control-mark::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../images/plus-icon.svg);
}

.gadgets-list:not(:last-child) {
  margin-right: 30px;
}

.gadgets-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.services {
  display: flex;
  margin-left: auto;
}

.services-item:not(:last-child) {
  margin-right: 45px;
}
